$pink_1: #c6538c;
$white: #fff;
$black: #000;
$blue_fb: #3B5998;
$blue_tw: #1DA1F2;
$ig_pink: #bc2a8d;
$ig_pink2: #e938b1d7;
$grey: #a7a7a7;
$pink_2: #ff779c;
$silver:#848482;
$gray_1:#b7b7b7;

.pointer{
    &:hover{
        cursor: pointer;
    }
}